.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005239;  /* GMU Green */
    padding: 0px 20px;

    /* NOTE: Drop shadow not working, not sure why */
    /* box-shadow: 0 0 px rgb(0, 0, 0); */

    height: 95px;
}

.brandLogo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    text-decoration: none;
    font-size: 36px;
}

.gmuLogo {
    height: 70px;
}

.verticalLine {
    width: 3px;            /* Line thickness */
    height: 60px;         /* Line length */
    background-color: #FFC733; /* Line color */
    margin: 0 10px;        /* Optional spacing around the line */
}

.navBarList {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

     /* NOTE: CENTERING THE PAGE LINKS LIKE THIS FOR NOW */
     /* Not a good solution, just temporary since idk what's going on */
     /* With flexbox being weird */
    margin-right: 265px;

    padding: 0;
}

.navBarItem {
    margin: 0 10px;
}

.navBarItem a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.519);
}

.navBarItem a:hover { 
    /* background-color: #004d26;   */
    /* Darker GMU Green */
    transition: color 0.3s ease;
    color: #ffc933a2;
}

.navBarSearch {
    display: flex;
    align-items: center;
}

/* Rounded search input */
.searchInput {
    padding: 10px 15px;
    border: 2px solid #e0e0e0;
    border-radius: 25px;  /* Rounding the corners */
    outline: none;
    margin-right: 8px;
    font-size: 14px;
    width: 220px;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    border-color: #006633;  /* GMU Green border on focus */
}

/* Rounded search button */
.searchButton {
    padding: 10px 20px;
    background-color: #006633;  /* GMU Green */
    color: white;
    border: none;
    border-radius: 25px;  /* Rounding the button */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #004d26;  /* Darker green on hover */
}

  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-list {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-item {
      margin: 10px 0;
    }
  
    .navbar-item a {
      width: 100%;
      text-align: center;
    }
  }
  
