.view-all-posts-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 30px; /* Adjust padding for a larger button */
    background-color: #FFCC33;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 30px; /* More rounded corners */
    text-decoration: none; /* Removes underline */
    color: black; /* Ensure text color is black */
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .view-all-posts-btn:hover {
    background-color: #aa9627; /* Slightly darker yellow on hover */
  }
  
  .view-all-posts-btn:focus {
    outline: none; /* Removes focus outline */
  }