/* UpdateLogsForm.module.css */
.form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
    background-color: #c1d1bdce;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  }
  
  label {
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #237930;
    background-color: #f1f1f1;
  }
  
  button {
    background-color: #CC4824;;
    color: #b5afaf;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #913319;;
  }
  

.buttonContainer {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  button {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color:  #CC4824; 
    color: white;
  }
  
  button[type="button"] {
    background-color:  #CC4824;
    color: white;
  }
  