/* campusLogs.css */

.campus-logs-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.logs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.update-logs-button {
  padding: 10px 15px;
  background-color: #b34121;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.filter-dropdown {
  position: relative;
}

.filter-button {
  padding: 10px 20px;
  background-color: #b34121;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 120px;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Ensures posts stay in a single row */
  overflow-x: auto; /* Enables horizontal scrolling */
  gap: 15px;
  padding-bottom: 10px; /* Adds padding to the bottom of the scroll container */
}

.posts-container::-webkit-scrollbar {
  height: 8px; /* Customize scrollbar height for horizontal scrolling */
}

.posts-container::-webkit-scrollbar-thumb {
  background-color: #b34121; /* Customize scrollbar color */
  border-radius: 4px;
}

.posts-container::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Customize scrollbar track color */
}


.forum-description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    max-width: 600px;
  }
  
  .no-posts-message {
    color: #555;
    font-size: 16px;
    margin-top: 20px;
  }
  