/* campusLogs.css */

.campus-logs-container {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.posts-container {
  display: flex;
  flex-wrap: wrap; /* Allows posts to wrap to the next row if there’s not enough space */
  gap: 15px;
  padding-bottom: 10px;
  width: 80vw; /* 80% of the viewport width */
  max-width: 100%;
  margin: 0 auto;
  overflow-y: auto; /* Adds a vertical scrollbar */
  max-height: 80vh; /* Limit the height so that a vertical scrollbar appears */
}

.post {
  min-width: 270px; /* Ensures each post won’t shrink below this width */
  width: 90%; /* Default width of each post */
  max-width: 300px; /* Optional: sets a maximum width for each post */
  flex-grow: 1;
}

.posts-container::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
}

.posts-container::-webkit-scrollbar-thumb {
  background-color: #b34121;
  border-radius: 4px;
}

.posts-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}


.forum-description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    max-width: 600px;
  }
  
  .no-posts-message {
    color: #555;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .logs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .update-logs-button {
    padding: 10px 15px;
    background-color: #b34121;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .filter-dropdown {
    position: relative;
  }
  
  .filter-button {
    padding: 10px 20px;
    background-color: #b34121;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 120px;
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: #333;
  }
  
  .dropdown-item:hover {
    background-color: #f5f5f5;
  }
  