/* ForumPage.css */

.forum-page {
  display: flex; 
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 20px;
  text-align: center;
  position: relative;
}

.create-post {
  position: absolute;
  top: 20px;
  left: 20px;
}

.create-post-btn {
  background-color:#b34121;
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  width: 150px; /* Set a fixed width to match the dropdown */
  height: 40px;
}

.create-post-btn:hover {
  background-color: #96351a;
}

.post-form {
  display: inline-block;
  text-align: left;
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-form input,
.post-form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;  
  font-size: 16px;
  box-sizing: border-box;
  height: 7vh; 
}

.post-form textarea{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;  
  font-size: 16px;
  box-sizing: border-box;
  height: 10vh; 
}

.post-form input:focus,
.post-form textarea:focus,
.post-form select:focus {
  outline: none;
  border-color: #006633;
}

.post-form select {
  background-color: white;
  cursor: pointer;
}

.post-form .submit-post-btn {
  background-color: #b34121;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.post-form .submit-post-btn:hover {
  background-color:#b34121;
}

.post-form .cancel-post-btn {
  background-color:#b34121; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  margin-left: 10px; 
}

.post-form .cancel-post-btn:hover {
  background-color:#b34121; 
}

.error-message {
  color: red;
  font-size: 12px;
}

.forum-posts-container {
  margin-top: 20px;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.post-divider {
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

/* Filter dropdown */
.forum-filter-dropdown select {
background-color:#b34121;
height: 40px;
color: white;
padding: 10px 20px; 
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px; 
width: 150px; 
appearance: none; /* Remove default arrow */
-webkit-appearance: none;
-moz-appearance: none;
text-align: center; /* Center the text */
text-align-last: center; /* Center selected option */

}

.forum-filter-dropdown {
  position: absolute;
  top: 20px;
  right: 20px;
}

.post-form-header {
  text-align: center;
  font-size: 32px;
  color: var(--h2-text);
}

.no-posts-message {
color: #555;
font-size: 16px;
margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.forum-posts-container {
  margin-top: 100px;
}

.post-form-button {
  padding: 15px;
  font-size: 22px;
  color: white;
}

.post-form-button:hover {
  background-color: #b34121;
}

/* Mobile */
@media only screen and (max-width: 599px) {
  .post-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    background-color: rgba(174, 174, 174, 0.601);
    border-radius: 10px;
    padding: 0px 10px;
    align-items: center;
    padding-bottom: 15px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

  .forum-posts-container {
    margin-top: 100px;
  }

  .post-form-button {
    padding: 15px;
    font-size: 22px;
    color: white;
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 16px;
  }
}

/* TAblets */
@media only screen and (min-width: 600px) and (max-width: 810px) {
  .post-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 10px;
    background-color: rgba(174, 174, 174, 0.601);
    border-radius: 10px;
    padding: 0px 10px;
    align-items: center;
    padding-bottom: 15px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .post-form-button {
    padding: 15px;
    font-size: 22px;
    color: white;
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 16px;
  }
}