
.no-posts-message {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 200px; /* Adjust this value based on the space you want around the text */
  text-align: center;
}
