
  
  .settings-options {
    display: flex;
    flex-direction: column;
    background-color: #E5E4E2;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
  }
  
  .option {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
  }

  .option-text {
    font-size: 22px; 
    margin-left: 10px; /* Adds space between icon and text */
  }
  
  
  .option:hover {
    background-color:  #D3D3D3;
    border-radius: 8px;
  }
  
  .icon {
    width: 60px; 
    height: 60px; 
    margin-right: 10px;
  }
  