.pageHeader {
    text-align: center;
    padding: 20px;
    background-color: #006D4C;
    color: #FFC733;
}
  
.pageHeader h1 {
    font-size: 2.5em;
}

.pageHeader h2 {
    font-size: 2em;
    margin-top: 10px;
}