/* logPost.module.css */

.post {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  width: 300px; /* Adjust width if needed */
  border-left: 5px solid transparent; /* Default border for layout */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagePlaceholder {
  background-color: #e0e0e0;
  height: 100px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  margin-top: 10px;
}

.location {
  color: #000000;
  font-size: 0.9em;
  font-weight: bold;
}

.status {
  color: #262424; /* Color to indicate status */
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 5px;
}

.claimed {
  border-left-color: green;
}

.unclaimed {
  border-left-color: rgb(170, 41, 41);
}

.dropdown {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
}

.dropdownOption {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.dropdownOption:last-child {
  border-bottom: none;
}

.dropdownOption:hover {
  background-color: #f5f5f5;
}