.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* Navbar styling */
.navbar {
  background-color: #006633;  /* GMU Green */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.brand-logo {
  color: white;
  text-decoration: none;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-item a:hover {
  background-color: #004d26;  /* Darker GMU Green */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-list {
    flex-direction: column;
    width: 100%;
  }

  .navbar-item {
    margin: 10px 0;
  }

  .navbar-item a {
    width: 100%;
    text-align: center;
  }
}


.navbar-search {
  display: flex;
  align-items: center;
}

/* Rounded search input */
.search-input {
  padding: 10px 15px;
  border: 2px solid #e0e0e0;
  border-radius: 25px;  /* Rounding the corners */
  outline: none;
  margin-right: 8px;
  font-size: 14px;
  width: 220px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #006633;  /* GMU Green border on focus */
}

/* Rounded search button */
.search-button {
  padding: 10px 20px;
  background-color: #006633;  /* GMU Green */
  color: white;
  border: none;
  border-radius: 25px;  /* Rounding the button */
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #004d26;  /* Darker green on hover */
}